<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

   <login-config>
     <auth-method>FORM</auth-method>
     <form-login-config>
       <form-login-page>/login.jsp</form-login-page>
       <form-error-page>/login.jsp?message=Login failed: Invalid UserName or Password</form-error-page>
     </form-login-config>
   </login-config>

  <security-role>
    <description>Administrator - Administrates the BPMS system. Has full access
      rights to make any changes necessary. Also has the
      ability to add and remove users from the system.
    </description>
    <role-name>admin</role-name>
  </security-role>

  <security-role>
    <description>Analyst - Responsible for creating and designing processes
      into the system. Creates process flows and handles
      process change requests. Needs to test processes that
      they create. Also creates forms and dashboards.
    </description>
    <role-name>analyst</role-name>
  </security-role>

  <security-role>
    <description>Developer - Implements code required for process to work. Mostly uses
      the JBDS connection to view processes, but may use the
      web tool occasionally.
    </description>
    <role-name>developer</role-name>
  </security-role>

  <security-role>
    <description>Business user - Daily user of the system to take actions on business tasks
      that are required for the processes to continue forward. Works
      primarily with the task lists.
    </description>
    <role-name>user</role-name>
  </security-role>

  <security-role>
    <description>Manager/Viewer-only User - Viewer of the system that is interested in statistics
      around the business processes and their performance, business indicators, and other
      reporting of the system and people who interact with the system.
    </description>
    <role-name>manager</role-name>
  </security-role>

  <security-role>
    <description>Process Administrator - can access and manage the process related activities like process
      definitions and process instances.
    </description>
    <role-name>process-admin</role-name>
  </security-role>

  <error-page>
    <error-code>403</error-code>
    <location>/not_authorized.jsp</location>
  </error-page>

</web-app>
